<title>Blog</title>
<meta charset="utf-8">
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- Stylesheet -->
<link rel="stylesheet" href="/styles/css/main.css" type="text/css" />
