<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <h1>index</h1>
    <a href="/new">New Article</a>
    <% articles.forEach(article => { %>
      <article class="">
        <h2><%= article.title %></h2>
        <p><%= article.text %></p>
      </article>
    <% }) %>
    <% include partials/footer %>
  </body>
</html>
