<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link rel="stylesheet" href="/styles/css/index.css" type="text/css" />
  </head>
  <body>
    <% include partials/header %>
    <main>
      <% articles.forEach(function(article) { %>
        <article class="">
          <h2><a href="/articles/<%= article.id %>"><%= article.title || "No Title"%></a></h2>
          <% if (article.components) { %>
            <% if (article.headers) { %>
              <h5><%= article.headers[0] %></h5>
            <% } %>
            <% if (article.paragraphs) { %>
              <p><%= article.paragraphs[0] %></p>
            <% } %>
          <% } %>
        </article>
        <% }) %>
    </main>
    <% include partials/footer %>
  </body>
</html>
