<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link rel="stylesheet" href="/styles/css/article-form.css" type="text/css"/>
  </head>
  <body>
    <% include partials/header %>
    <main>
      <h2>Create New Article</h2>
      <!-- Buttons -->
      <section class="article-buttons">
        <button class="add-header" type="button" name="button">Add Header</button>
        <button class="add-paragraph" type="button" name="button">Add Paragraph</button>
        <button class="add-image" type="button" name="button">Add Image</button>
      </section>
      <form class="article-form" action="/articles" method="post" enctype="multipart/form-data">
        <label for="title">Title</label>
        <input class="article-title" type="text" name="title" placeholder="title">
        <p class="tip">tip: you can drag and drop to reorder components</p>
        <div class="divider"></div>
        <!-- Article components are rendered here -->
        <div id="components"></div>
        <!-- Alerts appear here -->
        <div class="alert"></div>
        <!-- Submit form -->
        <input class="article-submit" type="submit" name="submit" value="Submit Article">
      </form>
    </main>
    <!-- Scripts -->
    <script src='https://rawgit.com/bevacqua/dragula/master/dist/dragula.js'></script>
    <script type="text/javascript" src="/scripts/dragula.js"></script>
    <script type="text/javascript" src="/scripts/add-article-components.js"></script>
    <script type="text/javascript" src="/scripts/article-submission.js"></script>
  </body>
</html>
