<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <h1>Create New Article</h1>
    <a href="/">Index</a>
    <button class="add-header" type="button" name="button">Add Header</button>
    <button class="add-paragraph" type="button" name="button">Add Paragraph</button>
    <button class="add-image" type="button" name="button">Add Image</button>
    <form class="article-form" action="/" method="post">
      <label for="title">Title</label>
      <input type="text" name="title" placeholder="title">
      <input class="article-submit" type="submit" name="submit" value="Submit Article">
    </form>
    <% include partials/footer %>
    <script type="text/javascript" src="/scripts/add-article-components.js"></script>
  </body>
</html>
