<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <a href="/">Index</a>
    <a href="/new">New Article</a>
    <article>
      <h1><%= article.title %></a></h1>
      <p><%= article.text %></p>
    </article>
    <% include partials/footer %>
    <form action="/articles/<%= article.id %>/edit">
      <button type="submit" name="button">Edit Article</button>
    </form>
    <form method="POST" action="/articles/<%= article.id %>?_method=DELETE">
      <button type="submit">Delete Article</button>
    </form>
  </body>
</html>
