@mixin box-shadow() {
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  margin: 10px;
  padding: 10px;
}

@mixin alert() {
  // display: inline-block;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  border: 1px solid #dba02d;
  border-radius: 3px;
  background-color: #ecea73;
  margin-top: 1rem;
  padding: 5px 10px;
}
