@import "mixins";
$border: #e1e2e3;
$link: #1eaedb;
$link-hover: #0fa0ce;

nav {
  // overflow: hidden;
  border-right: 1px solid $border;
  width: 29%;
  height: 100%;
  // min-height: 1000px;
  display: inline-block;

  div.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    a {
      text-decoration: none;
      text-align: center;
    }

    ul {
      flex: 1;
      list-style: none;
    }

    ul.header {
      margin: 0;
      padding: 16px 0;
      text-align: center;
      border-bottom: 1px solid $border;

      li.title {
        display: block;
      }

      li {
        display: inline-block;
        margin: 0;
        padding: 0 5%;
        color: $link;
      }

      li:hover {
        cursor: pointer;
        color: $link-hover;
      }

      li + li + li {
        border-left: 1px solid $border;
      }

      form {
        margin: 0;

        button {
          height: inherit;
          padding: inherit;
          color: $link;
          letter-spacing: inherit;
          border: inherit;
        }

        button:hover {
          color: $link-hover;
        }
      }
    }

    div.user-form {
      margin: 10px;

      form {
        display: none;
      }

      div.warnings {
        div.warning {
          display: none;
          @include alert();
        }
      }
    }

    ul.articles-list {
      margin: 10px;

      section {
        h5 {
          margin: 0;
        }

        li {
          @include box-shadow();
          margin: 10px;

          p {
            margin: 0;
          }

          title span.public {
            float: right;
            text-transform: uppercase;
            background: red;
            color: white;
            padding: 1px 10px;
            border-radius: 5px;
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
