@import "mixins";

section.article-buttons {
  @include box-shadow();
}

form.article-form {
  @include box-shadow();
  margin: 10px;

  input.article-title {
    display: inline-block;
  }

  p.tip {
    display: inline-block;
    color: grey;
  }

  div.divider {
    background-color: #d1d1d1;
    height: 1px;
  }

  div.alerts {
    div.alert {
      display: none;
      @include alert();
    }
  }

  section {
    @include box-shadow();
    background-color: #eaedf0;
    margin: 10px 0;

    input {
      display: block;
    }

    textarea {
      display: block;
      background-color: white;
      max-width: -webkit-fill-available;
    }

    button.remove {
      background-color: white;
      margin-top: 1rem;
    }
  }

  input.article-submit {
    display: block;
    margin-top: 10px;
    background-color: #2aaedb;
    color: #e4fbee;
  }
}
