@import 'mixins';

section.article-buttons {
  @include box-shadow();
}

form.article-form {
  @include box-shadow();
  margin: 10px;

  input.article-title {
    display: inline-block;
  }

  p.tip {
    display: inline-block;
    color: grey;
  }

  div.divider {
    background-color: #d1d1d1;
    height: 1px;
  }

  div.alert {
    display: inline-block;
    border: 1px solid #dba02d;
    border-radius: 3px;
    background-color: #ecea73;
    margin-top: 1rem;

    p {
      margin: 0;
      padding: 5px 10px;
    }
  }

  section {
    @include box-shadow();
    background-color: #eaedf0;
    margin: 10px 0;

    input {
      display: block;
    }

    textarea {
      display: block;
      background-color: white;
      max-width: -webkit-fill-available;
    }

    button.remove {
      background-color: white;
      margin-top: 1rem;
    }
  }

  input.article-submit {
    display: block;
    margin-top: 10px;
  }
}
