@import 'mixins';

section.article-buttons {
  @include box-shadow();
}

form {
  @include box-shadow();
  margin: 10px;

  input.article-title {
    display: inline-block;
  }

  p.tip {
    display: inline-block;
    color: grey;
  }
  div#components {

  }

  section {
    @include box-shadow();
    background-color: #eaedf0;
    margin: 10px 0;

    input {
      display: block;
    }

    textarea {
      display: block;
      background-color: white;
      max-width: -webkit-fill-available;
    }

    button.remove {
      background-color: white;
      margin-top: 1rem;
    }
  }

  input.article-submit {
    margin-top: 10px;
  }
}
