@import 'mixins';

section.article-buttons {
  @include box-shadow();
}

form {
  @include box-shadow();
  margin: 10px;

  section {
    @include box-shadow();
    margin: 10px 0;

    input {
      display: block;
    }

    textarea {
      display: block;
    }
  }

  input.article-submit {
    margin-top: 10px;
  }
}
